*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
  background-color: indigo;
}

header {
  width: 100%;
  height: 2.5em;
  position: fixed;
  background: indigo;
  text-align: center;
  z-index: 9;
  top: 0;
  left: 0;
}

.intro {
  width: 100%;
  margin-top: 2.5em;
}

.station-texto {
  font-weight: bold;
  font-size: 18px;
}

.station-top-section {
  position: static;
  width: 100%;
  background-color: #339cff;
  padding: 0;
  margin: 0;
}

#station-selecciones {
  position: static;
  text-align: center;
  height: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
}

#select-first-div {
  position: relative;
  left: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

#select-second-div {
  position: relative;
  right: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.station-responsive-image-video {
  position: relative;
  height: auto;
  padding: 0;
  margin: 0;
}

#data {
  position: static;
}

.station-bottom-section {
  position: static;
  width: 100%;
  background-color: #339cff;
  text-align: center;
  padding: 0;
  margin: 0;
}

.station-main-div-icons {
  position: static;
  width: 100%;
  height: auto;
  background-color: #339cff;
  text-align: center;
  padding: 0;
  margin: 0;
}

.station-div-icons {
  position: relative;
  left: 0;
  top: 0;
  height: fit-content;
}

.station-footer {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 1em;
  background-color: indigo;
  text-align: center;
  height: 2.5em;
}

table {
  table-layout: fixed;
  width: 100%;
}

table,
th,
td {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 2px;
}

th {
  background-color: #003fff;
}

.div-actual-bottom {
  width: fit-content;
  height: auto;
  display: inline-block;
  margin: 1px;
}

.suscripcion-horarios {
  border-color: #003fff;
  width: auto;
  height: auto;
  margin: auto;
  display: inline-flex;
}

@media (max-width: 900px) {
  .page-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .station-responsive-image-video {
    position: relative;
    height: auto;
    padding: 0;
    margin: 0;
    text-align: center;
  }

}

@-moz-document url-prefix() {
  p{
    font-size-adjust: 0.5;
  }
}