#header-text {
  font-weight: bold;
  position: absolute;
  left: 10px;
  width: fit-content;
  height: fit-content;
  font-size: 24px;
  margin-top: 5px;
}

#logout-text {
  position: absolute;
  right: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}

#logout-text:hover {
  color: rgb(227 129 127);
}

.introduccion {
  padding-left: 1em;
  padding-right: 1em;
}

.img-video {
  position: relative;
  top: 0;
  height: auto;
  width: 48%;
  display: inline-block;
  padding-left: 10px;
}


#encarcela-video {
  position: static;
}

#responsive-video {
  margin: 0;
  padding-bottom: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.estacion-actual-top {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  margin: 2px;
  width: fit-content;
  height: auto;
  font-size: 34px;
  padding-left: 10px;
  color: rgb(227, 129, 127);
}

.estacion-actual-bottom {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  left: 10px;
  width: fit-content;
  height: auto;
}

.station-icons {
  width: 50%;
  height: auto;
  display: flex;
}

.suscripcion-button {
  width: 8em;
  height: 2.8em;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  background-color: #008080;
  border-radius: 0.25em;
  margin: 10px;
}

.suscripcion-button:hover {
  color:rgb(227 129 127);
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

#footer-text {
  font-weight: lighter;
  padding-top: 10px;
  color: #fff;
}


/* All selects below*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background: #008080;
  cursor: pointer;
}

/* Custom Select */
.custom-select {
  position: relative;
  display: flex;
  margin: 10px;
  padding: 0 0.5em;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #008080;
  overflow: hidden;
  border-radius: 0.25em;
}

option {
  padding: 1px;
  font-size: 16px;
}

/* Arrow */
.custom-select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: #fff;
  background: #008080;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* Transition */
.custom-select:hover::after {
  color: rgb(227 129 127);
}

@media (max-width: 768px) {
  #responsive-video {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .img-video {
    height: auto;
    width: 75%;
  }

  .estacion-actual-top {
    padding-left: 3em;
  }

  #header-text {
    font-weight: bold;
    position: absolute;
    left: 5px;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    bottom: -15px;
  }

  #responsive-image {
    right: 10px;
  }
}